<!DOCTYPE html>
<html>
<html lang="en">
	<head>
		<meta charset="utf-8">
		<meta name="viewport" content="width=device-width, initial-scale=1">
		<title>Search the Archives</title>
		<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
		<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-gH2yIJqKdNHPEq0n4Mqa/HGKIhSkIHeL5AyhkYV8i59U5AR6csBvApHHNl/vI1Bx" crossorigin="anonymous">
	</head>
	<body>
		<nav class="navbar fixed-top navbar-expand-lg navbar-dark bg-dark">
			<div class="container-fluid">
				<div class="collapse navbar-collapse" id="navbarColor01">			
					<ul class="navbar-nav me-auto mb-2 mb-lg-0">
						<li class="nav-item">
							<a class="nav-link" aria-current="page" href="{{url_for('main')}}">Home</a>
						</li>
						<li class="nav-item">
							<a class="nav-link active" aria-current="page" href="{{url_for('search')}}">Search the Archives</a>
						</li>										
						<li class="nav-item">
							<a class="nav-link" aria-current="page" href="{{url_for('compare')}}">Compare Prime Ministers</a>
						</li>
						<li class="nav-item">
							<a class="nav-link" aria-current="page" href="{{url_for('upload')}}">Upload Question &#38; Answer</a>
						</li>
					</ul>
				</div>
			</div>
				<a class="navbar-brand pull-right" href="#">Answer Relevance at PMQs</a>
				<button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarColor01" aria-controls="navbarColor01" aria-expanded="false" aria-label="Toggle navigation">
					<span class="navbar-toggler-icon"></span>
				</button>
		</nav>		
		<div class="container text-center mt-4">		
			<div class="d-grid gap-3">
				<div class="p-2 mt-5">
					<h1 class="h1">Search the Archives</h2>
					<p>Pick a Prime Minister and then select a date range</p>
				</div>

				{% for primeminister in primeministers %}
				<div class="input-group d-none justify-content-center" id="daterange{{ primeminister['id'] }}">		
					<form action="{{url_for('results')}}" method="post" id="search{{ primeminister['id'] }}">
						<input type="text" id="pm{{ primeminister['id'] }}" name="pm{{ primeminister['id'] }}" class="d-none" value="" />
						<label for="from">From:</label>
						<input type="date" id="from" name="from" 
						value="{{ primeminister['startdate'].strftime("%Y-%m-%d") }}" 
						min="{{ primeminister['startdate'].strftime("%Y-%m-%d") }}" 
						{% if primeminister['enddate'] != None %} max="{{ primeminister['enddate'].strftime("%Y-%m-%d") }}" {% endif %} />
						<label for="to"> To:</label>
						<input type="date" id="to" name="to" 
						min="{{ primeminister['startdate'].strftime("%Y-%m-%d") }}" 
						{% if primeminister['enddate'] != None %} 
						max="{{ primeminister['enddate'].strftime("%Y-%m-%d") }}" 
						value="{{ primeminister['enddate'].strftime("%Y-%m-%d") }}"
						{% endif %} >
						<button type="submit" form="search{{ primeminister['id'] }}" value="Submit">Submit</button>
					</form>
				</div>
				{% endfor %}
				<div class="container"> 
				{% for row in primeministers|batch(5): %} 
					<div class = "row row-cols-5"> 
					{% for primeminister in row %}
						<span class="clickable not-clicked" id="{{ primeminister['id'] }}">
							<div class="col gx-2">
								<div class="p-2">
									<img src="static/{{ primeminister['name'].split()[0][:1].lower() + primeminister['name'].split()[1].lower() }}.jpg"
									class="img-thumbnail" alt={{ primeminister['name'] }} />
								</div>
								<div class="p-2">
									<p class="fs-5 fw-bold">{{ primeminister['name'] }}</p>	
									<hr />
									<p class="fs-6 pt-0">{{primeminister['startdate'].strftime("%d %B %Y")}}
									<br />
									to 
									<br />
									{% if primeminister['id'] == 14 %} Present {% else %} {{primeminister['enddate'].strftime("%d %B %Y")}} {% endif %}</p>
								</div>
							</div>
						</span>
						{% endfor %}
					</div>
				{% endfor %}	
				</div>
			</div>						
		</div>	
		<script>
			function hasNotBeenClicked(element){
				return element.hasClass('not-clicked')
			}

			function hasRedBorder(element){
				return element.hasClass('border-danger')
			}
			
			function hasGreenBorder(element){
				return element.hasClass('border-success')
			}
			
			function showFormFor(element){
				form = document.getElementById('daterange' + $(element).attr('id'));
				$(form).removeClass('d-none');			
			}
			
			function hideFormFor(element){
				form = document.getElementById('daterange' + $(element).attr('id'));					
				$(form).addClass('d-none');
			}
			
			function addRedBorderTo(element){
				element.removeClass('not-clicked');
				element.addClass('clicked border border-danger border-3');
			}
			
			function removeRedBorderFrom(element){
				element.removeClass('clicked border border-danger border-3');
				element.addClass('not-clicked');
			}
			
			function addGreenBorderTo(element){
				element.removeClass('not-clicked');
				element.addClass('clicked border border-success border-3');
			}
			
			function removeGreenBorderFrom(element){
				element.removeClass('clicked border border-success border-3');
				element.addClass('not-clicked');			
			}
			
			function changeRedBorderToGreen(element){
				element.removeClass('border-danger');
				element.addClass('border-success');			
			}
			
			function changeGreenBorderToRed(element){
				element.removeClass('border-success');
				element.addClass('border-danger');		
			}
			
			function getClickedElement(){
				elements = document.getElementsByClassName('clicked');
				element = elements[0];
				return element;
			}
		
			let activatedElements = [];
			$(".clickable").click(function(){
				if (hasNotBeenClicked($(this)) && activatedElements.length >= 1){
					addRedBorderTo($(this));
					activatedElements.push($(this).attr('id'));
					elements = document.getElementsByClassName('clicked');
					Array.from(elements).forEach(function (element){
						if ($(element).hasClass('border-success')){
							changeGreenBorderToRed($(element));
							hideFormFor($(element));
						}
					});
				} else if (hasNotBeenClicked($(this))) {
					addGreenBorderTo($(this));
					activatedElements.push($(this).attr('id'));		
					showFormFor($(this));
					document.getElementById('pm' + $(this).attr('id')).setAttribute('value', activatedElements[0]);
				} else if (hasGreenBorder($(this))) {
					removeGreenBorderFrom($(this));
					activatedElements = activatedElements.filter(e => e !== $(this).attr('id'));
					hideFormFor($(this));			
				} else if (hasRedBorder($(this)) && activatedElements.length == 2) {
					removeRedBorderFrom($(this));
					activatedElements = activatedElements.filter(e => e !== $(this).attr('id'));
					element = getClickedElement();
					changeRedBorderToGreen($(element));
					showFormFor($(element));
					document.getElementById('pm' + $(element).attr('id')).setAttribute('value', activatedElements[0]);
				} else if (hasRedBorder($(this)) && activatedElements.length > 2){
					removeRedBorderFrom($(this));
					activatedElements = activatedElements.filter(e => e !== $(this).attr('id'));
				}
			});
		</script>		
	</body>
</html>